@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

* {
    font-family: "Nunito Sans", sans-serif;
    
}

$prime-color: #43E5C2;
$secondary-color: #33D6E4;